body {
	font-family: tahoma, arial;
	//text-shadow: black 3px 3px 5px;
	color: black;
	padding: 0px;
	margin: 10 10 10 10;
	//background: #85ACC3 url(icons/BannerTileBackground.gif) fixed top repeat-x
}

.linked {
	float: left;
	color: blue;
	background: #00f;
	margin: 5px 5px 5px 5px;
	border: solid 1px #fff;
}

.linked:hover {
	color: #FF0;
}

a {
	text-decoration: underline;
	border: none;
}

a:visited {
	color: blue;
}

a:link {
	color: blue;
}

.nav {
	float: left;
	width: 120px;
	height: 60px;
	position: relative;
	top: 8px;
}

.iconimage {
	border: none;
	position: relative;
	top: -18px;
	left: 8px;
	border: solid 0px #000;
}

.navimagelabel {
	position: relative;
	top: -18px;
	left: 10px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-size: 80%;
}

.heading {
	padding: 0px;
	margin: 0 0 0 0;
}

.mainheading {
	font-size: 300%;
}

.children {
	clear: both;	
	margin: 10px 5px 5px 15px;
}

.commentary:first-letter {
	font-size: 180%;	
}

.commentary {
	float: left;
	width: 324px;
	color: black;
	text-shadow: none;
	margin: 5px 5px 5px 5px;
	border: none;
}

.commentary img {
	border: none;
	margin: 0 5px 5px 0;
}

.pic-thumb-small {
	float: left;
	width: 170px;
	height: 120px;	
}

#favoriteChild {
	text-decoration: underline;
}

.linkedimagelabel {
	position: relative;
	top: -15px;
	left: -5px;
	font-size: 80%;
}

.picimage {
	border-left: solid 1px #000;
	border-top: solid 1px #000;
	border-right: solid 2px #000;
	border-bottom: solid 2px #000;
}
.picimage:hover {
	border-left: solid 2px #000;
	border-top: solid 2px #000;
	border-right: solid 1px #000;
	border-bottom: solid 1px #000;
}

.pic-thumb-big {
	margin: 0 0 0 10px;
}

.secret {
	font-family: arial;
	font-weight: bold;
	text-align: center;
	color: white;
	background: red;
	text-transform: uppercase;
	text-shadow: none;
}

.slideimage {
	font-size: 300%;
	text-align: center;
}

.fullPic {
	color: blue;
	text-decoration: underline;
}
